div.list-manager {
    height: 8vh;
}

.phrase-navbar {
    background-image: url("../../img/header-back.png ");
    /*background-color: #96E8F5;*/
    /*color: #ffffff;*/
}

a.phrase-navbar-link {
    color: #ffffff;
}

div.word-table {
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}

td.word-id {
    display: none;
}

div.search-input {
    margin-top: 10px;
}

div.manager-button {
    margin-top: 10px;
    padding-top: 10px;
    width: 100px;
    height: 35px;
    /*background-color: #337ab7;*/
    background-color: #99e4c2;
    color: white;
    text-align: center;
}

div.word-table::-webkit-scrollbar {
    width: 1em;
}

div.word-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div.word-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

div.disabled-button {
    background-color: darkgrey;
}

div.disabled-button:hover {
    cursor: not-allowed;
}

div.input-with-error {
    color: red;
}

div.input-with-error input{
    border: solid 1px red;
}

p.error-hidden {
    display: none;
}

div.error-holder {
    height: 20px;
}

div.error-box {
    height: 29px;
}

div.error-box p {
    margin-top: 1px;
    padding: 5px;
    border-radius: 5px;
}

.login-section-hide {
    display: none;
}

#user-section {
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
