div.item:hover {
    background-color: #EFF1FA;
}

div.item-marked {
    background-color: #EFF0FF;
}

span.hidden {
    display: none;
}

div#add-word-button {
    margin-top: 10px;
    padding-top: 10px;
    width: 100px;
    height: 35px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}